<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="https://forms.gle/ctq6oDTanHTW7Dzd9"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">poll</mat-icon>
            <span>Submit Feedback</span>
        </a>
        
        <a href="https://docs.google.com/document/d/1a-FStsjSDZehlAsvJ6LQfFonUOfK-mB9Ynu0ybMFbak/edit?usp=sharing"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">how_to_vote</mat-icon>
            <span>Protivity Demo FAQ</span>
        </a>
       
    </div>
 
</mat-toolbar>
